body{
    margin: 0;
}

.html{
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(179, 146, 146, 0.2);
    margin: 17px;
    padding: 0px;
    background-color: rgba(114, 121, 214, 0.61);

    float: right;  
    width: 300px;   
    display: inline;
    
  }

  .card-text{
      font-size: 30px;
      text-align: center;
      color: rgb(214, 214, 207);
  }
  .card-t{
    font-size: 20px;
    text-align: center;
    color: rgb(214, 214, 207);
}
  
  .about-section {
    padding: 20px;
    text-align: center;
    background-color: #474e5db4;
    background-image:url('http://www.publicdomainpictures.net/pictures/150000/velka/sunset-sky-1455125487HWs.jpg') ;
    color: white;
  }
  
  .title {
    color: rgb(255, 255, 255);
  }
  @media screen and (max-width: 650px) {
    .col {
      width: 100%;
      display: block;
    }
  }

.bg{
    padding-left:100px;
    align-items:center;
    background-image:url('http://www.publicdomainpictures.net/pictures/150000/velka/sunset-sky-1455125487HWs.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
}
