body{
    margin: 0;
}

.html{
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
  }
  
  /* .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  } */
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(179, 146, 146, 0.2);
    margin: 17px;
    padding: 0px;
    background-color: rgba(114, 121, 214, 0.61);

    float: right;  
    width: 300px;   
    display: inline;
    
  }

  .card-title{
      color: rgb(255, 255, 255);
      font-size: 20px;
  }

  .card-text{
      font-size: 16px;
      color: rgb(214, 214, 207);
  }
  
  .about-section {
    padding: 20px;
    text-align: center;
    background-color: #474e5db4;
    background-image:url('http://www.publicdomainpictures.net/pictures/150000/velka/sunset-sky-1455125487HWs.jpg') ;
    color: white;
  }
  
  .title {
    color: rgb(255, 255, 255);
  }
  
  /* .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  } */
/*   
  .button:hover {
    background-color: #555;
  }
   */
  @media screen and (max-width: 650px) {
    .col {
      width: 100%;
      display: block;
    }
  }

.bg{
    padding: auto;
    background-image:url('http://www.publicdomainpictures.net/pictures/150000/velka/sunset-sky-1455125487HWs.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
}