@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

*{
    position: static;
    font-family: 'Rampart One', cursive;
    
}
p{
    font-size: 30px;
    text-align: left;
    
    
}
