.skill{
  text-align: center;
  width: 1000;
  height: 1200;
  border-style:solid;
  font-size: 1200px;

}
.container-fluid{
    padding-left: 200px;
    background-image:url('3.jpg');
    background-position: center top;
    font-family: Arial, Helvetica, sans-serif;
}
.box{
  font-size: 50px;
  width: 1000;
  height: 1200;
  position: relative;
  padding-top: 50;
  padding-left: 30px;
  padding-right: 120px;
}
.box5{
  padding-top: 50;
  font-size: 50px;
  padding-left: 20px;
  padding-right: 120px;
}
.box6{
  padding-top: 50;
  font-size: 50px;
  padding-left: 50px;
  padding-right: 120px;
}


.lau{ 
  font-size: 30px;
  text-align:left;
  background-color: wheat;

  
}
h2{
    font-size: 30px;
}
h3{
    font-size: 30px;
}
h4{
    font-size: 30px;
}
h5{
    font-size: 30px;
}
h6{
  font-size: 30px;
}
